@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock&display=swap");

.jumbotron {
  font-family: "Poppins", sans-serif;
  padding-top: 1rem;
  background-color: #e2edff;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Overlock", cursive;
}

footer {
  font-family: "Poppins", sans-serif;
}
/* section {
  padding-top: 3rem;
} */
